<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Resultado de la búsqueda:</h1>
    </div>
</div> 
<div class="row">
  <div class="col-md-12 pad-top-10">
    <div class="panel">
      <div class="panel-body">
          <div class="panel-group" id="accordion2">
              <%@components.each do |c, index| %>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title inline-h4">
                          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=c.id%>"><%=c.name%> (<%=c.status%>)</a>
                      </h4>
                      <div class="pull-right">
                          <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                  Opciones
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" role="menu">
                                  <li><a href="/projects/<%=c.project_id%>/edit">Ir al proyecto</a>
                                  </li>
                                  <li><a href="/projects/<%=c.project_id%>/edit">Ver recomendaciones</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div id="collapse<%=c.id%>" class="panel-collapse collapse">
                      <div class="panel-body">
                          <h4><%=c.category%></h4>
                          <p><%=c.description%></p>
                      </div>
                  </div>
              </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>