<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @component.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @component.category %>
</p>

<p>
  <strong>Project:</strong>
  <%= @component.project %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
