<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
    <div class="col-md-11 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-1 control-label" for="code">Código:</label>  
        <div class="col-md-2">
          <%= f.text_field :code, placeholder: 'Autogenerado', class: 'form-control input-md', disabled:true, required: true %>
        </div>
        <label class="col-md-1 control-label" for="code">Nombre:</label>  
        <div class="col-md-6">
          <%= f.text_field :name, placeholder: 'Nombre del proyecto', class: 'form-control input-md', required: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-1 control-label" for="code">Remedy:</label>  
        <div class="col-md-7">
          <%= f.text_field :remedy, placeholder: 'Petición Remedy', class: 'form-control input-md', required: true %>
        </div>
        <label class="col-md-1 control-label" for="code">Prioridad:</label>  
        <div class="col-md-1">
          <%= f.number_field :priority, value: 1, in: 1..3, class: 'form-control input-md' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-1 control-label" for="description">Descripción:</label>
        <div class="col-md-9">
          <%= f.text_area :description, class: 'form-control', rows: 5  %>                     
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-pad-bot-5">
      <div class="form-group inline-flex">
        <label class="col-md-2 control-label" for="date_requested">F. de petición:</label>
        <div class='input-group date col-md-2' id='datetimepicker1'>        
          <%= f.text_field :date_requested, class: 'form-control input-sm'%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar fa-1x"></span>
          </span>
        </div>
        <label class="col-md-2 control-label" for="date_start">F. de inicio:</label>
        <div class='input-group date col-md-2' id='datetimepicker2'>
          <%= f.text_field :date_start, class: 'form-control input-sm'%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label class="col-md-2 control-label" for="date_finish">F. de fin:</label>
        <div class='input-group date col-md-2' id='datetimepicker3'>
          <%= f.text_field :date_finish, class: 'form-control input-sm'%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                  format: "DD/MM/YYYY"
                });           
                $('#datetimepicker2').datetimepicker({
                  format: 'DD/MM/YYYY'
                });
                $('#datetimepicker3').datetimepicker({
                  format: 'DD/MM/YYYY'
                });
            });
        </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-2 control-label" for="result">Ámbito:</label>
        <div class="col-md-6">
          <%= f.select :scope, 
          "<option>Sistemas Distribuidos</option><option>Mainframe</option><option>Mixto</option>".html_safe, 
          {prompt: "Seleccionar..."}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-2 control-label" for="result">Categoría:</label>
        <div class="col-md-6">
          <%= f.select :category, 
          "<option>Prueba de rendimiento</option><option>Optimización</option>".html_safe, 
          {prompt: "Seleccionar..."}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-2 control-label" for="result">Resultado:</label>
        <div class="col-md-6">
          <%= f.select :result,
          "<option>Aceptado</option><option>Aceptado con riesgo</option><option>Rechazado</option><option>No aplica</option>".html_safe, 
          {include_blank: "Seleccionar..."}, {class: 'form-control'} %>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <%= f.submit "Guardar proyecto", class: 'btn btn-lg btn-success'  %>
    <% if @project.users.size==0 %>
      <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/projects/<%=@project.id%>/assign'"">Asignar</button>
    <%end%>
    <% if @project.status=="En curso" %>
      <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/projects/<%=@project.id%>/close'"">Cerrar</button>
    <%end%>
  </div>
</div>
<% end %>