<div class="row">
	<div class="col-md-12 pad-top-10">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span>:: DETALLES DEL PROYECTO ::</span>
			</div>
			<div class="panel-body">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title inline-h4">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="$('#components').toggleClass('hidden')">Datos del proyecto</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<%= render 'projects/form', project: @project %>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title inline-h4">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" 
								onclick="$('#components').toggleClass('hidden')">
									Componentes del proyecto
								</a>
							</h4>		              
						</div>
						<div id="collapse2" class="panel-collapse collapse">    
							<div class="panel-body">
								<ul class="nav nav-tabs">
									<%@components.each_with_index do |c, index|%>
									<li class="<%=index==0 ? 'active' : ''%>"><a href="#comp<%=index%>" data-toggle="tab" aria-expanded="true"><%=c.name%></a></li>
									<% end %>
									<li class=""><a href="#compadd" data-toggle="tab" aria-expanded="true">Añadir componente</a></li>      
								</ul>
								<div class="tab-content">
									<%@components.each_with_index do |c, index| %>
									<div class="tab-pane fade <%=index==0 ? 'active in' : ''%>" id="comp<%=index%>">
										<h4><%=c.name%> - (<%=c.category%>)</h4>
										<p><%=c.description%></p>
										<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%=index%>">Añadir recomendación</button>
									</div>
									<div id="myModal<%=index%>" class="modal fade" role="dialog">
									  <div class="modal-dialog modal-lg">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal">&times;</button>
									        <h4 class="modal-title">Añadir recomendación</h4>
									      </div>
									      <div class="modal-body">
									        <%= render 'advices/form', advice: @advice, component: c.id %>
									      </div>
									    </div>
									  </div>
									</div>
									<% end %>  
									<div class="tab-pane fade" id="compadd">
										<%= render 'components/form', component: @component %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title inline-h4">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" 
								onclick="$('#components').toggleClass('hidden')">
									Recomendaciones del proyecto por componente estudiado
								</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<div class="panel-body">								
								<ul class="nav nav-tabs">
									<%@components.each_with_index do |c, index|%>
									<li class="<%=index==0 ? 'active' : ''%>"><a href="#advice<%=index%>" data-toggle="tab" aria-expanded="true"><%=c.name%></a></li>
									<% end %>    
								</ul>
								<div class="tab-content">
									<%@components.each_with_index do |c, index| %>
										<div class="tab-pane fade <%=index==0 ? 'active in' : ''%>" id="advice<%=index%>">
											<div class="panel-group pad-top-10" id="accordionAdv">
												<%c.advices.each do |a| %>
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title inline-h4">
																<a data-toggle="collapse" data-parent="#accordionAdv" href="#collapseAdv<%=a.id%>" onclick="$('#components').toggleClass('hidden')"><%=a.problem%></a>
															</h4>
															<div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opciones
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/advices/<%=a.id%>/edit">Editar/Ver detalles</a>
                                        </li>
                                        <li><a href="/advices/<%=a.id%>/flow">Flujo de trabajo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
														</div>
														<div id="collapseAdv<%=a.id%>" class="panel-collapse collapse">
															<div class="panel-body">
																<h4><b>Problema:</b> <%=a.problem%></h4>
																<h4><b>Explicación:</b> <%=a.explanation%></h4>
																<h4><b>Código ANTES:</b> <%=a.before%></h4>
																<h4><b>Código Después:</b> <%=a.after%></h4>
															</div>
														</div>
													</div>
												<% end %>  
											</div>
										</div>									
									<% end %>  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>