<div class="row">
	<div class="col-md-12 pad-top-10">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span>:: DETALLES DEL PROYECTO ::</span>
			</div>
			<div class="panel-body">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title inline-h4">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="$('#components').toggleClass('hidden')">Datos del proyecto</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<%= render 'projects/form', project: @project %>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title inline-h4">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" onclick="$('#components').toggleClass('hidden')">Componentes del proyecto</a>
							</h4>		              
						</div>
						<div id="collapse2" class="panel-collapse collapse">    
							<div class="panel-body">
								<ul class="nav nav-tabs">
									<%@components.each_with_index do |c, index|%>
									<li class="<%=index==0 ? 'active' : ''%>"><a href="#comp<%=index%>" data-toggle="tab" aria-expanded="true"><%=c.name%></a></li>
									<% end %>
									<li class=""><a href="#compadd" data-toggle="tab" aria-expanded="true">Añadir componente</a></li>      
								</ul>
								<div class="tab-content">
									<%@components.each_with_index do |c, index| %>
									<div class="tab-pane fade <%=index==0 ? 'active in' : ''%>" id="comp<%=index%>">
										<h4><%=c.name%> - (<%=c.category%>)</h4>
										<p><%=c.description%></p>
										<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%=index%>">Añadir recomendación</button>
									</div>
									<div id="myModal<%=index%>" class="modal fade" role="dialog">
									  <div class="modal-dialog modal-lg">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal">&times;</button>
									        <h4 class="modal-title">Añadir recomendación</h4>
									      </div>
									      <div class="modal-body">
									        <%= render 'advices/form', advice: @advice %>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
									        <button type="button" class="btn btn-warning" data-dismiss="modal">Guardar</button>
									      </div>
									    </div>

									  </div>
									</div>
									<% end %>  
									<div class="tab-pane fade" id="compadd">                              
										<%= render 'components/form', component: @component %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title inline-h4">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" onclick="$('#components').toggleClass('hidden')">Recomendaciones del proyecto</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								RECOMENDCIONES
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>