<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Result</th>
      <th>Date requested</th>
      <th>Date start</th>
      <th>Date finish</th>
      <th>Scope</th>
      <th>Type</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.code %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.result %></td>
        <td><%= project.date_requested %></td>
        <td><%= project.date_start %></td>
        <td><%= project.date_finish %></td>
        <td><%= project.scope %></td>
        <td><%= project.type %></td>
        <td><%= project.priority %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
