<%= form_for(advice) do |f| %>
  <% if advice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advice.errors.count, "error") %> prohibited this advice from being saved:</h2>

      <ul>
      <% advice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
    <div class="col-md-11 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-1 control-label" for="problem">Mala práctica:</label>  
        <div class="col-md-9">
          <%= f.text_area :problem, class: 'form-control', rows: 3  %>  
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-11 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-1 control-label" for="after">Corrección:</label>  
        <div class="col-md-9">
          <%= f.text_area :explanation, class: 'form-control', rows: 3  %>  
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-11 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-1 control-label" for="before">Antes:</label>  
        <div class="col-md-9">
          <%= f.text_area :before, class: 'form-control', rows: 3  %>  
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-11 col-pad-bot-5">
      <div class="form-group">
        <label class="col-md-1 control-label" for="after">Después:</label>  
        <div class="col-md-9">
          <%= f.text_area :after, class: 'form-control', rows: 3  %>  
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-pad-bot-5">
      <div class="form-group inline-flex">
        <label class="col-md-2 control-label" for="metric1">Métrica:</label>
        <div class="input-group col-md-3">
          <%= f.text_field :metric1, class: 'form-control input-md'%>                   
        </div>
        <label class="col-md-2 control-label" for="improvement1">Mejora:</label>
        <div class="input-group col-md-3">
          <%= f.text_field :improvement1, class: 'form-control input-md'%>                   
        </div>
        <label class="col-md-2 control-label" for="unit1">Unidad:</label>
        <div class="input-group col-md-3">        
          <%= f.select :unit1, 
          "<option>%</option><option>msg.</option><option>u.c.</option>".html_safe, 
          {:prompt => "Seleccionar..."}, {:class => 'form-control'} %>               
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>