<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @advice.problem %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @advice.explanation %>
</p>

<p>
  <strong>Before:</strong>
  <%= @advice.before %>
</p>

<p>
  <strong>After:</strong>
  <%= @advice.after %>
</p>

<p>
  <strong>Improvement1:</strong>
  <%= @advice.improvement1 %>
</p>

<p>
  <strong>Unit1:</strong>
  <%= @advice.unit1 %>
</p>

<p>
  <strong>Metric1:</strong>
  <%= @advice.metric1 %>
</p>

<p>
  <strong>Improvement2:</strong>
  <%= @advice.improvement2 %>
</p>

<p>
  <strong>Unit2:</strong>
  <%= @advice.unit2 %>
</p>

<p>
  <strong>Metric2:</strong>
  <%= @advice.metric2 %>
</p>

<p>
  <strong>Improvement3:</strong>
  <%= @advice.improvement3 %>
</p>

<p>
  <strong>Unit3:</strong>
  <%= @advice.unit3 %>
</p>

<p>
  <strong>Metric3:</strong>
  <%= @advice.metric3 %>
</p>

<p>
  <strong>Component:</strong>
  <%= @advice.component %>
</p>

<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
