<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Posición global del técnico</h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-signal fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%=@info_projects["test_count"]%></div>
                        <div>Pruebas asignadas</div>
                    </div>
                </div>
            </div>
            <a href="#pruebas">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-stethoscope fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%=@info_projects["opt_count"]%></div>
                        <div>Optimizaciones asignadas</div>
                    </div>
                </div>
            </div>
            <a href="#optimizaciones">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-product-hunt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%=@info_projects["unassigned_count"]%></div>
                        <div>Proyectos sin asignar</div>
                    </div>
                </div>
            </div>
            <a href="#libres">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-history fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%=@info_projects["old_count"]%></div>
                        <div>Proyectos cerrados</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a name="pruebas">Pruebas asignadas</a>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <%@info_projects["tests"].each do |p, index| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title inline-h4">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=p.id%>"><%=p.name%></a>
                            </h4>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opciones
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/projects/<%=p.id%>/edit">Editar/Ver detalles</a>
                                        </li>
                                        <li><a href="/projects/<%=p.id%>/report">Ver informe</a>
                                        </li>
                                        <li><a href="/projects/<%=p.id%>/flow">Flujo de trabajo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="collapse<%=p.id%>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <%=p.description%>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="panel panel-opt">
            <div class="panel-heading">
                <a name="optimizaciones">Optmizaciones asignadas</a>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion2">
                    <%@info_projects["opts"].each do |p, index| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title inline-h4">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=p.id%>"><%=p.name%></a>
                            </h4>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opciones
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/projects/<%=p.id%>/edit">Editar/Ver detalles</a>
                                        </li>
                                        <li><a href="/projects/<%=p.id%>/report">Ver informe</a>
                                        </li>
                                        <li><a href="/projects/<%=p.id%>/flow">Flujo de trabajo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="collapse<%=p.id%>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <%=p.description%>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="panel panel-history">
            <div class="panel-heading">
                <a name="libres">Proyectos sin asignar</a>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion3">
                    <%@info_projects["unassigned"].each do |p, index| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title inline-h4">
                                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse<%=p.id%>"><%=p.name%></a>
                            </h4>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opciones
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/projects/<%=p.id%>/edit">Editar/Ver detalles</a>
                                        </li>
                                        <li><a href="/projects/<%=p.id%>/assign">Asignar</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="collapse<%=p.id%>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <%=p.description%>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Distribución global
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: "Pruebas asignadas",
            value: <%=@info_projects_global["test_count"]%>
        }, {
            label: "Optimizaciones asignadas",
            value: <%=@info_projects_global["opt_count"]%>
        }, {
            label: "Optimizaciones sin asignar",
            value: <%=@info_projects_global["unassigned_opt_count"]%>
        }, {
            label: "Pruebas sin asignar",
            value: <%=@info_projects_global["unassigned_test_count"]%>
        }],
        colors: [
                "#337ab7",
                "#5cb85c",
                "#295429",
                "#00004d"
        ],
        resize: true
    });
}); 
</script>

















