<!DOCTYPE html>
<html>
  <head>
    <title>CPMPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<% if user_signed_in? %>
    	<%= yield %>
    <% else %>
			<%= link_to 'Log in', new_user_session_path, method: 'GET' %>
    <% end %>
  </body>
</html>
